.page-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}